<!-- Items -->
<section class="wrapper style1 align-center" id="contact">
    <div class="inner">
        {{ with .title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <div class="items {{ .style }}">
            {{ range .items }}
            {{ partial "item" . }}
            {{ end }}
        </div>


    <div class="index align-left">

        <section>
            <header>
                <h3>Kontaktformular</h3>
            </header>
            <div class="content">
                <form method="POST" action="https://formspree.io/f/xnqknlyv">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" value="" required/>
                        </div>
                        <div class="field half">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email" value="" required/>
                        </div>
                        <div class="field">
                            <label for="subject">Betreff</label>
                            <input type="text" name="subject" id="subject" value="" required/>
                        </div>
                        <div class="field">
                            <label for="message">Nachricht</label>
                            <textarea name="message" id="message" rows="6" required></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><button type="submit" id="submit">Senden</button></li>
                    </ul>
                </form>
            </div>
        </section>
    </div>
    </div>
</section>