<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="index align-left">

            <section>
                <header>
                    <h3>Kontaktformular</h3>
                </header>
                <div class="content">
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" value=""/>
                            </div>
                            <div class="field half">
                                <label for="email">E-Mail</label>
                                <input type="email" name="email" id="email" value=""/>
                            </div>
                            <div class="field">
                                <label for="message">Nachricht</label>
                                <textarea name="message" id="message" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" name="submit" id="submit" value="Senden"/></li>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>