<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- SEO -->
	<meta name="description" content="Das Haus Hildegard wird als Privatzimmervermietung mit verschiedenen Zimmerkategorien geführt. Speziell für Arbeiter*innen wie z. B. Monteure, Forstarbeiter*innen und Saisonkräfte im Gastgewerbe aus dem In- und Ausland ist das Haus perfekt geeignet.">
	<meta name="author" content="Vermietung Hildegard">

	<meta name="keywords" content='Vermietung, Hildegard, Haus Hildegard, Personalunterkunft, Unterkunft, Zimmer, St. Jakob, Defereggental, '>

	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Site.Title }}">
	<meta property="og:description" content="Das Haus Hildegard wird als Privatzimmervermietung mit verschiedenen Zimmerkategorien geführt. Speziell für Arbeiter*innen wie z. B. Monteure, Forstarbeiter*innen und Saisonkräfte im Gastgewerbe aus dem In- und Ausland ist das Haus perfekt geeignet.">
	<meta property="og:image" content="{{ .Site.BaseURL }}images/banner-winter.jpg">
	<meta property="og:image:secure_url" content="{{ .Site.BaseURL }}images/banner-winter.jpg">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Vermietung Hildegard">
	<meta name="twitter:description" content="Das Haus Hildegard wird als Privatzimmervermietung mit verschiedenen Zimmerkategorien geführt. Speziell für Arbeiter*innen wie z. B. Monteure, Forstarbeiter*innen und Saisonkräfte im Gastgewerbe aus dem In- und Ausland ist das Haus perfekt geeignet.">
	<meta property="twitter:domain" content="{{ .Site.BaseURL }}">
	<meta property="twitter:url" content="{{ .Site.BaseURL }}">
	<meta name="twitter:image" content="{{ .Site.BaseURL }}images/banner-winter.jpg">

	<link rel="canonical" href="{{ .Site.BaseURL }}/" />
	<!-- end SEO -->

	{{ if .Site.Params.favicon }}
	{{ partial "favicon" }}
	{{ end }}
	
	<!-- CSS -->
	{{ if .Site.IsServer }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
	{{ else }}
	{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS (dict "targetPath" "css/main.css" "enableSourceMap" false) }}
	<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	{{ end }}
	{{ if .Site.IsServer }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript).RelPermalink }}" /></noscript>
	{{ else }}
	{{ $noscript := resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "css/noscript.css" "enableSourceMap" false) }}
	<noscript><link rel="stylesheet" href="{{ ($noscript | minify).RelPermalink }}" /></noscript>
	{{end}}

	<!-- FontAwesome CSS -->
	{{ range .Site.Params.asset.fontawesome_css -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}

</head>
